@model MvcBootstrap2.Models.Department

@using MvcBootstrap2.Helper;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="well">
    <form class="form-horizontal" role="form">
        <fieldset>
            <legend>Department</legend>

            <div class="control-group">
                @Html.LabelFor(model => model.Name, HtmlHelpers.LabelAttributes())
                <div class="controls">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Budget, HtmlHelpers.LabelAttributes())
                <div class="controls">
                    @Html.DisplayFor(model => model.Budget)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.StartDate, HtmlHelpers.LabelAttributes())
                <div class="controls">
                    @Html.DisplayFor(model => model.StartDate)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Administrator.LastName, HtmlHelpers.LabelAttributes())
                <div class="controls">
                    @Html.DisplayFor(model => model.Administrator.LastName)
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="@Url.Action("Edit", new { id = Model.Id.ToString() })"><i class="icon-pencil icon-white"></i> Edit</a></li>
            <li><a href="@Url.Action("Index")"><i class="icon-arrow-left icon-white"></i> Back to List</a></li>
        </ul>
    </div>
</div>
