@model MvcBootstrap2.Models.DepartmentModel

@using MvcBootstrap2.Helper;

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="well">
@using (Html.BeginForm("Edit", "Department", FormMethod.Post, new { name = "departmentform", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Department</legend>

        @Html.HiddenFor(model => model.Id.ToString())
        @Html.HiddenFor(model => model.RowVersion)

        <div class="control-group">
            @Html.LabelFor(model => model.Name, HtmlHelpers.LabelAttributes())
            <div class="controls">
                @Html.TextBoxFor(model => model.Name, HtmlHelpers.TextBoxAttributes("Name"))
                @Html.ValidationMessageFor(model => model.Name,  "", new { @class = "label label-important" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Budget, HtmlHelpers.LabelAttributes())
            <div class="controls">
                @Html.TextBoxFor(model => model.Budget, HtmlHelpers.TextBoxAttributes("Budget"))
                @Html.ValidationMessageFor(model => model.Budget,  "", new { @class = "label label-important" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.StartDate, HtmlHelpers.LabelAttributes())
            <div class="controls">
                @Html.TextBoxFor(model => model.StartDate, HtmlHelpers.TextBoxAttributes("Start Date"))
                @Html.ValidationMessageFor(model => model.StartDate,  "", new { @class = "label label-important" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.PersonId, HtmlHelpers.LabelAttributes())
            <div class="controls">
                @Html.DropDownList("PersonId", ViewBag.PersonID_ as SelectList, String.Empty)
                @Html.ValidationMessageFor(model => model.PersonId,  "", new { @class = "label label-important" })
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Save</button>
                <a class="btn btn-default" href="@Url.Action("Index")"><i class="icon-arrow-left icon-white"></i> Cancel</a>
            </div>
        </div>
    </fieldset>
}
</div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
