@model MvcBootstrap2.Models.CourseModel

@using MvcBootstrap2.Helper;

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="well">
@using (Html.BeginForm("Create", "Course", FormMethod.Post, new { name = "courseform", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Course</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.CourseID, HtmlHelpers.LabelAttributes())
            <div class="controls">
                @Html.TextBoxFor(model => model.CourseID, HtmlHelpers.TextBoxAttributes("Number"))
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "label label-important" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Title, HtmlHelpers.LabelAttributes())
            <div class="controls">
                @Html.TextBoxFor(model => model.Title, HtmlHelpers.TextBoxAttributes("Title"))
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "label label-important" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Credits, HtmlHelpers.LabelAttributes())
            <div class="controls">
                @Html.TextBoxFor(model => model.Credits, HtmlHelpers.TextBoxAttributes("Credits"))
                @Html.ValidationMessageFor(model => model.Credits, "", new { @class = "label label-important" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.DepartmentId, "Department", HtmlHelpers.LabelAttributes())
            <div class="controls">
                @Html.DropDownList("DepartmentId", ViewBag.DepartmentID_ as SelectList, String.Empty)
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "label label-important" })
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Create</button>
                <a class="btn btn-default" href="@Url.Action("Index")"><i class="icon-arrow-left icon-white"></i> Cancel</a>
            </div>
        </div>
    </fieldset>
}
</div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
