@model PagedList.IPagedList<MvcBootstrap2.Models.Course>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="@Url.Action("Create")"><i class="icon-plus icon-white"></i> Create New</a></li>
        </ul>
    </div>
</div>

@if (TempData["message"] != null)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @TempData["message"]
    </div>
}

@using (Html.BeginForm("Index", "Course", FormMethod.Get, new { @class = "form-horizontal" }))
{
    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <div class="input-append">
                <input type="text" name="SearchString" value="@ViewBag.CurrentFilter" placeholder="Search" x-webkit-speech="x-webkit-speech" />
                <button type="submit" class="btn btn-default"><i class="icon-search icon-white"></i></button>
            </div>
        </div>
    </div>
}

@Html.ActionLink("HTML report", "HtmlReport", new
{
    sortOrder = ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter,
    searchString = ViewBag.CurrentFilter
},
    new { target = "_blank" }) |
@Html.ActionLink("Pdf report", "PdfReport", new
{
    sortOrder = ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter,
    searchString = ViewBag.CurrentFilter
},
    new { target = "_blank" }) |
@Html.ActionLink("Excel report", "ExcelReport", new
{
    sortOrder = ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter,
    searchString = ViewBag.CurrentFilter
},
    new { target = "_blank" }) |
@Html.ActionLink("Csv report", "CsvReport", new
{
    sortOrder = ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter,
    searchString = ViewBag.CurrentFilter
},
    new { target = "_blank" })

<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr class="well">
            <th></th>
            <th>
                @Html.ActionLink("Number", "Index", new { sortOrder = ViewBag.CourseIDSortParm })
            </th>
            <th>
                @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
            </th>
            <th>
                @Html.ActionLink("Credits", "Index", new { sortOrder = ViewBag.CreditsSortParm })
            </th>
            <th>
                @Html.ActionLink("Department", "Index", new { sortOrder = ViewBag.DeptSortParm })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id.ToString() })
                    @Html.ActionLink("Details", "Details", new { id = item.Id.ToString() })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id.ToString() })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="well">
            <td colspan="5">
			    <div class="pull-right">
				    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
				</div>
                
            </td>
        </tr>
    </tfoot>
</table>
<br />

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
new PagedListRenderOptions
{
    DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
    DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
    DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
    DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
    ContainerDivClasses = new string[] { "pagination" },
    UlElementClasses = new string[] { }
})
